.chartContainer {
  width: 100%;
  height: 15rem;
  padding: 0;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

.chartWrapper {
  width: 100%;
  height: 100%;
}

@media (max-width: 37.5rem) { 
  .chartContainer {
    max-width: 100%;
    padding: 0.625rem;
  }
}
