/* ProductsList.module.css */

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modalActions {
  margin-top: 20px;
}

.confirmButton, .cancelButton {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.confirmButton:hover {
  background: #0056b3;
}

.cancelButton {
  background: #6c757d;
}

.cancelButton:hover {
  background: #5a6268;
}

.productsList {
  background-color: #FFFFFF; 
  border-radius: 8px; 
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  max-width: 100%; 
  margin-bottom: 20px;
}

.productsList h3 {
  font-size: 1.20rem;
  margin-bottom: 10px;
  color: #333; 
}
.editButton , .deleteButton  {
  margin-left: 0.8rem;
}

.productItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #dee2e6; 
}

.productItem:last-child {
  border-bottom: none; 
}

.productItem span {
  flex: 1;
  font-size: 0.9rem;
  color: #495057; 
}

.productItem .progress {
  width: 100%; 
  margin-left: 16px;
  height: 20px; /* Aumentar a altura do ProgressBar */
}

.productValue {
  text-align: right; /* Garantir que o valor fique alinhado à direita */
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .productsList {
    padding: 12px;
  }

  .productsList h3 {
    font-size: 1rem;
  }

  .productItem span {
    font-size: 0.875rem;
  }

  .productItem .progress {
    width: 55%;
  }

  .productValue {
    font-size: 0.875rem;
  }
}
