body {
  background-color: #FAFAFA; 
  color: rgb(var(--foreground-rgb));
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1; 
  margin-left: 13rem;
  padding: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
