.userProfileContainer {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center; 

}

.userImage {
    margin-right: 0.2rem;
}

.userInfo {
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    margin-right: 0.3rem;
}

.notificationButton {
    margin-left: auto; 
    margin-right: 1rem;
}
